{% extends 'imager_profile/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

{% if request.user.is_active == False %}
    <div class="jumbotron">
        <h1>Are you a photographer?</h1>
        <p>Great news, you've come to the best website on the internet to host and share your work. Use the register to get signed up, or login now to access your content and share your work!</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a></p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Register</a></p>
    </div>
    {% load static %}
    <img src="{% static "imager_profile/pretty.jpg" %}" alt="Found on Google" height="500px"/>
{% endif %}

<img src="{{ photo.image.url }}" alt="{{ photo.title }}" height="500px"/>

{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

{% endblock %}
